:root {
    color-scheme: light dark;
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: white;
    color: black;
    line-height: 1.5;
    a {
        color: black;
    }
    th {
        background-color: lightgrey;
        border: 1px solid black;
    }
    td {
        border: 1px solid black;
    }
    h1,
    h2 {
        border-bottom: 3px solid black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
        a {
            color: tomato;
        }
        th {
            background-color: tomato;
            border: 1px solid black;
        }
        td {
            border: 1px solid tomato;
        }
        h1,
        h2 {
            border-bottom: 3px solid tomato;
        }
    }
}

h1,
h2 {
    border-bottom: light dark;
    padding-block-end: 6px;
    margin-block-start: 2em;
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-block: 15px;
}

th,
td {
    border: light dark;
    padding: 8px;
    text-align: center;
}

th {
    background-color: light dark;
    color: black;
    font-weight: bold;
}

a {
    color-scheme: light dark;
}
