:root {
    color-scheme: light dark;

    /* Variables */
    --bg-body: white;
    --text: black;
    --accent: lightblue;
    --border: black;
    --link: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-body: black;
        --text: white;
        --accent: tomato;
        --border: tomato;
        --link: tomato;
    }
}

body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: var(--bg-body);
    color: var(--text);
    line-height: 1.5;
    a {
        color: var(--link);
    }
    th {
        background-color: var(--accent);
        border: 1px solid var(--border);
    }
    td {
        border: 1px solid var(--border);
    }
    h1, h2 {
        border-bottom: 3px solid var(--border);
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg-body);
        color: white;
        a {
            color: tomato;
        }
        th {
            background-color: tomato;
            border: 1px solid black;
        }
        td {
            border: 1px solid tomato;
        }
        h1,
        h2 {
            border-bottom: 3px solid tomato;
        }
    }
}

h1,
h2 {
    border-bottom: light dark;
    padding-block-end: 6px;
    margin-block-start: 2em;
}

h1 {
    font-size: 1.8em;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-block: 15px;
}

th,
td {
    border: light dark;
    padding: 8px;
    text-align: center;
}

th {
    background-color: light dark;
    color: black;
    font-weight: bold;
}

a {
    color-scheme: light dark;
}

.diagonal-split {
    background: 
        linear-gradient(45deg, var(--accent) 50%, transparent 50%);
}
